* {
    box-sizing: border-box;
}

body {
    background-color: #1c1a1a;
    margin: 0;
}

html, body {
    width: 100%; 
    height: 100%;
}

@font-face {
    font-family: Monument Extended;
    font-weight: bold;
    src: url("/fuentes/MonumentExtended-Ultrabold.otf") format("opentype");
}

@font-face {
    font-family: Monument Extended;
    font-weight: normal;
    src: url("/fuentes/MonumentExtended-Regular.otf") format("opentype");
}



@font-face {
    font-family: Jost;
    font-weight: normal;
    src: url("/fuentes/Jost-500-Medium.otf") format("opentype");
}

@font-face {
    font-family: Jost;
    font-weight: 700;
    src: url("/fuentes/Jost-700-Bold.otf") format("opentype");
}

@font-face {
    font-family: Mixo;
    font-weight: normal;
    src: url("/fuentes/Mixo-Regular_web.otf") format("opentype");
}

@font-face {
    font-family: Savate;
    font-weight: normal;
    src: url("/fuentes/savate-regular.otf") format("opentype");
}

@font-face {
    font-family: Savate;
    font-weight: normal;
    font-style: italic;
    src: url("/fuentes/savate-italique.otf") format("opentype");
}

/* Colores */

.color-acento {
    color: #E92D46;
}

.vectores {
    fill: white;
}
/* Texto */

h1 {
    text-transform: uppercase;
    font-family: Monument Extended;
    font-weight: normal; 
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

.titulo-principal {
    font-size: 6vw;
    padding: 20px;
    margin-top: 100px;
}

.titulo-secundario {
    font-size: 4vw;
    margin: 0;
}

.titulo-gigante {
    font-family: Monument Extended;
    font-weight: normal;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
    font-size: 150;
    color: #1c1a1a;
}

.links {
    font-family: Jost;
    font-weight: normal;
    padding: 20px;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;

}

.parrafo {
    font-family: Savate;
    font-weight: normal;
    color: white;
    font-size: 24;
}
/* Tamaños */


.nav-wrapper{
    height: 100px;    
    margin: 30px;
}


.icons {
    padding: 10px;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

nav a{
    width: 150px;
    
}

.hero-size {
    height: 450px;
    margin-bottom: 180px;
}



/* Flexbox */


.links-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
    align-items: center;
}






.isologo-placeholder {
    align-self: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-image {
    padding: 10px 0;
    width: 100%;
    height: auto;
}



/* Grids */

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    margin: auto;
    min-height: 100vh;
    max-width: 1200px; 
    justify-content: center;
    align-items: start;
}

.grid-image-container {
    padding: 10px;
}

.grid-image {
    width: 100%;
    height: auto;
}

/* Forzar 16:9 */

.aspect-ratio-16-9 {
    padding-top: 56.25%;
    height: 0;
    position: relative;
    overflow: hidden;
}

/* Imagen recortada dentro de caja 16:9 */

.grid-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
}

/* MOBILE */

@media (max-width: 992px) { 



    .resp-col-span-2 {
        grid-column: span 2;
    }
    
    
    .resp-col-span-3 {
        grid-column: span 3;
    }
    
    .resp-col-span-4 {
        grid-column: span 4;
    }
    
    .resp-col-span-5 {
        grid-column: span 5;
    }
    
    .resp-col-span-6 {
        grid-column: span 6;
    }
    
    .resp-col-span-7 {
        grid-column: span 7;
    }
    
    .resp-col-span-8 {
        grid-column: span 8;
    }

    .resp-row-span-1 {
        grid-row: span 2;
    }

    .resp-row-span-2 {
        grid-row: span 2;
    }
    
    
    .resp-row-span-3 {
        grid-row: span 3;
    }
    
    .resp-row-span-4 {
        grid-row: span 4;
    }




}

/* DESKTOP */

@media (min-width: 992px) { 


    
    .col-span-2 {
        grid-column: span 2;
    }
    
    
    .col-span-3 {
        grid-column: span 3;
    }
    
    .col-span-4 {
        grid-column: span 4;
    }
    
    .col-span-5 {
        grid-column: span 5;
    }
    
    .col-span-6 {
        grid-column: span 6;
    }
    
    .col-span-7 {
        grid-column: span 7;
    }
    
    .col-span-8 {
        grid-column: span 8;
    }

    .row-span-1 {
        grid-row: span 1;
    }

    .row-span-2 {
        grid-row: span 2;
    }
    
    
    .row-span-3 {
        grid-row: span 3;
    }
    
    .row-span-4 {
        grid-row: span 4;
    }
    
}
